*{
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: #212121;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
header h1{
    font-size: 3.25rem;
    font-weight: 700;
    color: whitesmoke;
}
section{
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
section .inputs{
    position: relative;
    height: 15%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.inputs input{
    height: 50%;
    width: 30%;
    border: none;
    background-color: rgba(245, 245, 245, 0.533);
    border-radius: 30px;
    transition: all ease 0.55s;
}
input:focus{
    width: 70%;
    font-size: large;
    color: grey;
    background-color: whitesmoke;
    border: none;
    padding-left: 20px;
    transition: all ease 0.55s;
    overflow: hidden;
}
.inputs button{
    height: 40px;
    width: 90px;
    border-radius: 10px;
    border: none;
    transition: all ease 0.55s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
button h4{
    font-size: 1.15rem;
    font-weight: 700;
    transition: all ease 0.55s;
}
button .check{
    transition: all ease 0.55s;
    display: none;
}
button:hover{
    background-color: #212121;
    color: antiquewhite;
    transition: all ease 0.55s;
}
.list{
    height: 72%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8%;
    background-color: rgba(245, 245, 245, 0.689);
}
aside{
    margin-top: -26%;
    position: absolute;
    height: 5%;
    width: 15%;
    font-size: large;
    color: rgba(225, 21, 21, 0.805);
    display: none;
    align-items: center;
    justify-content: space-evenly;
    animation: shake 0.35s normal 0s infinite;
}
aside .triangle{
    height: 25px;
    width: 25px;
    margin-right: 5px;
}
@keyframes shake{
    0%{
        margin-left: -15px;
    }
    100%{
        margin-left: 15px;
    }
}